# Arithmetic Operations

There are a couple of way to do math with Bash:

  - using the `let` command
  - using the `expr` command
  - using double parentheses

## Using the `let` command to do math

The `let` command performs a basic mathematical evaluations and assign the result to a variable:

In [16]:
let result=10+2
echo $result

12

When you use the keyword `let`, Bash expected a arithmetic expression. If you ommit the key word `let` Bash will treat the express as string:

In [14]:
I_am_a_string=1+4
echo $I_am_a_string

1+4

Note that multiple statements can handily concatenate without the need for the semicolon:

In [17]:
let a=3 b=2 result=a*b*10
echo $result

60

Beware that when doing arithmetic operations, there are no space arround the operator:

In [18]:
let result=1 + 3

bash: let: +: syntax error: operand expected (error token is "+")

: 1

The above does not work because spaces are delimenator and as the result, Bash see the operator as a command.

If you have to use space, put the expression in double quote:

In [2]:
let result="1 + 3"
echo $result

4

In [5]:
let "result = 10 + 20"
echo $result

30

##  `expr` command

`expr` command receives math expression parts as arguments and send the arithmatic result to `STDOUT`:

In [9]:
expr 1 + 1

2

Important thing to remember when using this command is that you have to break your arithematic expression into character and put space in between them. Each character become an argument to the `expr` command and the space are the delimiter of the arguments. In the case above, the command `expr` see three arguments: `1`, `+`, and `1`.

Without the space as delimiter, the `expr` command will see your math express as one argument and a string will result:

In [10]:
expr 1+1

1+1

Becareful when your expression contains special character:

In [14]:
expr 9 * 10

expr: syntax error

: 2

In the above you need to escape the asterisk character to hide its special meaning.

This is because Bash will do shell expansion before sending it to the `expr` command.

In [19]:
expr 9 \* 10

90

To capture the result into a variable instead of direct it to `STDOUT` you can use the `$(expression)` syntax:

In [20]:
result=$(expr 9 \* 10)
echo $result

90

When an argument is quoted, `expr` see it as an string argument:

In [22]:
expr "1 + 1"

1 + 1

`expr` command will perform automatic casting if you mixing string and decimal number with math operation:

In [23]:
expr "12" + 1

13

But the casting will not always possible, the example below show that math operation fail because of type miss match:

In [24]:
expr "1 + 1" + 1

expr: not a decimal number: '1 + 1'

: 2